<form th:action="@{/city}" th:object="${city}" method="post">
		<pre>
	
	
	Country1  : <select th:field="*{state.country.countryId}">
                         <option value=""> --SELECT--- </option>
                         <option th:each="country : ${countries}"
                            th:value="${country.countryId}"
                            th:text="${country.name}"/>
                  </select>	
                  
       State  : <select th:field="*{state.stateId}">
                         <option value=""> --SELECT--- </option>
                         <option th:each="state : ${states}"
                            th:value="${state.stateId}"
                            th:text="${state.name}"/>
                            
                    </select>
                    
                    	 
	  City :    <input type="text" th:field="*{name}">
	
	    <button>Save</button>
	
	</pre>
	</form>