<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>BOX SHOP an E-Commerce online Shopping Category Flat
	Bootstarp responsive Website Template| Order :: w3layouts</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="BOX SHOP Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript">
	
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 

</script>
<!--webfont-->
<link
	href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
	rel='stylesheet' type='text/css'>
<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
	rel='stylesheet' type='text/css'>
<!-- start menu -->
<link href="css/megamenu.css" rel="stylesheet" type="text/css"
	media="all" />
<script type="text/javascript" src="js/megamenu.js"></script>
<script>
	$(document).ready(function() {
		$(".megamenu").megamenu();
	});
</script>
<!-- start slider -->
<script src="js/responsiveslides.min.js"></script>
<script>
	$(function() {
		$("#slider").responsiveSlides({
			auto : true,
			speed : 500,
			namespace : "callbacks",
			pager : true,
		});
	});
</script>
<!--end slider -->
<link rel="stylesheet" href="css/flexslider.css" type="text/css"
	media="screen" />
<script type="text/javascript">
	$(window).load(function() {
		$("#flexiselDemo").flexisel({
			visibleItems : 5,
			animationSpeed : 1000,
			autoPlay : true,
			autoPlaySpeed : 3000,
			pauseOnHover : true,
			enableResponsiveBreakpoints : true,
			responsiveBreakpoints : {
				portrait : {
					changePoint : 480,
					visibleItems : 1
				},
				landscape : {
					changePoint : 640,
					visibleItems : 2
				},
				tablet : {
					changePoint : 768,
					visibleItems : 3
				}
			}
		});

	});
</script>
<script type="text/javascript" src="js/jquery.flexisel.js"></script>
</head>
<body>
	<!-- header-section-starts -->
	<div class="header">
		<div class="top-header">
			<div class="wrap">
				<div class="header-left">
					<ul>
						<li><a href="#">24x7 Customer Care </a></li> |
						<li><a href="order.html"> Track Order</a></li>
					</ul>
				</div>
				<div class="header-right">
					<ul>
						<li><i class="user"></i> <a
							th:href="@{/userdetails/{id}(id=${user.userName})}"><span
								th:text="${user.userName}"></span></a></li>
						<li class="login"><i class="lock"></i> <a href="/logout">logout</a>|
						</li>
						<li><i class="cart"></i> <a href="/carts">Shopping Cart</a></li>
						<li class="last"><span th:text="${cartCount}"></li>
					</ul>

				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="wrap">
			<div class="header-bottom">
				<div class="logo">
					<a href="index.html"><img src="images/logo.jpg"
						class="img-responsive" alt="" /></a>
				</div>
				<div class="search">
					<div class="search2">
						<form>
							<input type="submit" value=""> <input type="text"
								value="Search for a product, category or brand"
								onfocus="this.value = '';"
								onblur="if (this.value == '') {this.value = 'Search for a product, category or brand';}" />
						</form>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- header-section-ends -->
	<div class="wrap">
		<div class="navigation-strip">
			<h4>
				Most Popular<i class="arrow"></i>
			</h4>

			<div class="clearfix"></div>
		</div>
	</div>
	<!-- start order -->
	<div class="wrap">
		<div class="col-md-12">
			<table class="table table-striped table-responsive-md">
				<thead>
					<tr>
						<th>Order Id</th>
						<th>Product Id</th>
						<th>Product each price</th>
						<th>Product quantity</th>
						<th>total price</th>
						<th>Ordered Date</th>

					</tr>
				</thead>
				<tbody>
					<tr th:if="${orders.empty}">
						<td colspan="4"><span style="color: red">No orders
								available</span></td>
					</tr>
					<tr th:each="order: ${orders}">
						<td th:text="${order.orderItemId}"></td>
						<td th:text="${order.productId}"></td>
						<td th:text="${order.priceEach}"></td>
						<td th:text="${order.quantity}"></td>
						<td th:text="${order.priceTotal}"></td>
						<td th:text="${order.approveDate}"></td>
					</tr>
					<tr>
					<tr>
						<a th:href="@{/pdf}"><i class="fa fa-file-pdf-o"
							style="font-size: 20px" title="Export to PdF!">Export to PdF</i></a>
					</tr>

				</tbody>
			</table>
			<div class="pagination-div">
    <span th:if="${page.hasPrevious()}">
        <a th:href="@{/orderList(page=${page.number-1},size=${page.size})}">Previous</a>
    </span>
    <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
        <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
        <span th:unless="${page.number == i}">
             <a th:href="@{/orders(page=${i},size=${page.size})}">[[${i}+1]]</a>
        </span>
    </th:block>
    <span th:if="${page.hasNext()}">
        <a th:href="@{/orderList(page=${page.number+1},size=${page.size})}">Next</a>
    </span>
</div>

		</div>
	</div>




</body>
</html>
