<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>BOX SHOP a E-commerce online Shopping Category Flat
	Bootstarp responsive Website Template| Single :: w3layouts</title>
<link href="../css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="../css/style.css" rel="stylesheet" type="text/css"
	media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="BOX SHOP Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript">
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 
</script>
<!--webfont-->
<link
	href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
	rel='stylesheet' type='text/css'>
<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
	rel='stylesheet' type='text/css'>
<!-- start menu -->

<link href="../css/megamenu.css" rel="stylesheet" type="text/css" 	media="all" />
<script type="text/javascript" src="../js/megamenu.js"></script>
<script>
	$(document).ready(function() {
		$(".megamenu").megamenu();
	});
</script>
<link rel="stylesheet" href="../css/etalage.css">
<script src="../js/jquery.etalage.min.js"></script>
<script>
	jQuery(document)
			.ready(
					function($) {

						$('#etalage')
								.etalage(
										{
											thumb_image_width : 300,
											thumb_image_height : 400,
											source_image_width : 800,
											source_image_height : 1000,
											show_hint : true,
											click_callback : function(
													image_anchor, instance_id) {
												alert('Callback example:\nYou clicked on an image with the anchor: "'
														+ image_anchor
														+ '"\n(in Etalage instance: "'
														+ instance_id + '")');
											}
										});

					});
</script>
<link rel="stylesheet" href="../css/flexslider.css" type="text/css"
	media="screen" />
<script type="text/javascript">
	$(window).load(function() {
		$("#flexiselDemo").flexisel({
			visibleItems : 4,
			animationSpeed : 1000,
			autoPlay : true,
			autoPlaySpeed : 3000,
			pauseOnHover : true,
			enableResponsiveBreakpoints : true,
			responsiveBreakpoints : {
				portrait : {
					changePoint : 480,
					visibleItems : 1
				},
				landscape : {
					changePoint : 640,
					visibleItems : 2
				},
				tablet : {
					changePoint : 768,
					visibleItems : 3
				}
			}
		});

	});
</script>
<script type="text/javascript" src="../js/jquery.flexisel.js"></script>
</head>
<body>
	<!-- header-section-starts -->
	<div class="header">
		<div class="top-header">
			<div class="wrap">
				<div class="header-left">
					<ul>
						<li><a href="#">24x7 Customer Care </a></li> |
						<li><a href="order.html"> Track Order</a></li>
					</ul>
				</div>
				<div class="header-right" th:if="${user==null}">
					<ul>
						<li>
							<i class="user"></i>
							<a href="/login1">My Account</a>
						</li>
						<li class="login">
							<i class="lock"></i>
							<a href="/login1">Login</a>|
						</li>
						<li>
							<i class="cart"></i>
							<a href="/carts">Shopping Cart</a>
						</li>
						<li class="last"><span th:text="${cartCount}"></li>
					</ul>
					<div class="sign-up-right">
						<a href="/cust">Sign Up</a>
					</div>
				</div>
				
				<div class="header-right" th:if="${user!=null}">
					<ul>
						<li>
							<i class="user"></i>
							<a th:href="@{/userdetails/{id}(id=${user.userName})}"><span th:text="${user.userName}"></span></a>
						</li>
						<li class="login">
							<i class="lock"></i>
							<a href="/logout">logout</a>|
						</li>
						<li>
							<i class="cart"></i>
							<a href="#">Shopping Cart</a>
						</li>
						<li class="last"><span th:text="${cartCount}"></li>
					</ul>
					
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="wrap">
			<div class="header-bottom">
				<div class="logo">
					<a href="index.html"><img src="../images/logo.jpg"
						class="img-responsive" alt="" /></a>
				</div>
				<div class="search">
					<div class="search2">
						<form>
							<input type="submit" value=""> <input type="text"
								value="Search for a product, category or brand"
								onfocus="this.value = '';"
								onblur="if (this.value == '') {this.value = 'Search for a product, category or brand';}" />
						</form>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- header-section-ends -->
	<div class="wrap">
		<div class="navigation-strip">
			<h4>
				Categories<i class="arrow"></i>
			</h4>
			<div class="top-menu" th:each="cat : ${cats}">
				<!-- start header menu -->
				<ul class="megamenu skyblue">
					<li><a class="color1" th:href="${cat.productCategory}"
						th:text="${cat.productCategory}"></a>
						<div class="megapanel">
							<div class="row">
								<div class="col1">
									<div class="h_nav">
										<ul th:each="subCat : ${subCategories}">
											<li th:if='${cat.productCategory}==${subCat.productCategory}'><a
												th:href="@{/{id}(id=${subCat.productSubCat})}"
												th:text="${subCat.productSubCat}">new arrivals</a></li>
										</ul>
									</div>
								</div>
							</div>

						</div></li>
			</ul>
			</div>
			<div class="clearfix"></div>
		</div>
		<!-- start main -->
		<div class="main">
			<div class="content">
				<div class="content_top">
					<div class="heading">
						<h3>Feature Products</h3>
					</div>
					<div class="sort">
						<p>
							Sort by: <select>
								<option>Lowest Price</option>
								<option>Highest Price</option>
								<option>Lowest Price</option>
								<option>Lowest Price</option>
								<option>Lowest Price</option>
								<option>In Stock</option>
							</select>
						</p>
					</div>
					<div class="show">
						<p>
							Show: <select>
								<option>4</option>
								<option>8</option>
								<option>12</option>
								<option>16</option>
								<option>20</option>
								<option>In Stock</option>
							</select>
						</p>
					</div>
					<div class="page-no">
						<p>Result Pages:
						<ul>
							<li><a href="#">1</a></li>
							<li class="active"><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li>[<a href="#"> Next>>></a>]
							</li>
						</ul>
						</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="section group">
				<div class="grid images_3_of_2">
				
							<ul id="etalage">
							<li>
							 <img  class="etalage_source_image"   th:attr="src=@{${product.strImage}}" />
							</li>
							<li> <h2 th:text="${product.productName}">
								</h2></li>
							<li> <h2 th:text="${product.price}">
								</h2></li>
							</ul>
							<div class="clearfix"></div>
						</div>
				<div class="span1_of_1_des">
							
								<h3 th:text=${product.productName}></h3>
								<p th:text=${product.specification}></p>
								<h5>
									<span th:text="${product.price}"></span> <a href="#">click for offer</a>
								</h5>
								
								<div class="available">
									<h4>Available Options :</h4>
									<ul>
										<li>Color: <select>
												<option>Silver</option>
												<option>Black</option>
												<option>Dark Black</option>
												<option>Red</option>
										</select></li>
										<li>Size: <select>
												<option>L</option>
												<option>XL</option>
												<option>S</option>
												<option>M</option>
										</select>
										</li>
										<li>Quality: <select>
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
										</select>
										</li>
									</ul>
								
									<div class="btn_form">
										<form th:action="@{/cart/{id}(id=${product.productName})}">
										
										<input type="hidden" name="pro" value="">
											<!-- <input type="submit" value="add to cart1" title="" /> -->
										</form>
										<div class="button"><span><a th:href="@{/cart/{id}(id=${product.productName})}">Add To Cart</a></span></div>
									</div>
									<span class="span_right"><a href="#">login to save
											in wishlist </a></span>
											
											
									<div class="clearfix"></div>
								</div>
								<P>Highlights</P>
								<h4 th:text=${product.highlights}></h4>
							
						</div>

						</div>
						<div class="clearfix"></div>
					</div>
			</div>
	</div>
	
</body>
</html>