<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"></meta>
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
/*<![CDATA[*/
$(document).ready(function(){
  $("#cat").change(function(){
    var cat = $(this).val();
    $.ajax({
		type: 'GET',
		url: '/subcats/' + cat,
		success: function(result) {
			var s = '';
			for(var i = 0; i < result.length; i++)  {
				s += '<option value="' + result[i].productSubCat + '">' + result[i].productSubCat + '</option>';
			}
			$('#subCating').html(s);
		}
    });

  });
});
/*]]>*/
</script>

 <script>


            function convertToStringAndShow(data) {
                var reader = new FileReader();
                reader.readAsDataURL(data.files[0]);
                reader.onload = function () {
                    // fetch imsge as Base64 String
                    var imageAsString = reader.result;
                    // Show into Image-tag
                    $('#imageTag').attr('src', imageAsString);

                    // Insert into Hidden field, will be get into Server(saveAction.jsp): On form-submit
                    $('#strImage').val(imageAsString);
                }
                //alert( reader.onload);
            }
        </script>
</head>
<body>
<h4>shopping cart</h4>
<a href="orderList.html">login page for order List</a>
</body>
</html>