<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>


<pre>
      <a href="/address">Update Address</a>

      <a href="/email">Upadate Email Id</a>

      <a href="/password">Update PassWord</a>

      <a href="#">Orders</a>
</pre>

   <form action="">
              <pre>
    				 Old Email  <input type="text" >
   			
   			         New Email  <input type="text">
   			
   			         Password   <input type="password">
   				
   			     		<button>Submit</button>
   </pre>
               
   </form>
</body>
</html>