<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>


<pre>
      <a href="/address">Update Address</a>

      <a href="/email">Upadate Email Id</a>

      <a href="/password">Update PassWord</a>

      <a href="#">Orders</a>
</pre>

   <pre>
    				 Old Password  <input type="text" >
   			
   			         New Password  <input type="text">
   			
   			         Re-Type Password   <input type="password">
   				
   			     		<button>Submit</button>
   </pre>
</body>
</html>